API_ID = 123456
API_HASH = your_api_hash
BOT_TOKEN = 123456:ABC-DEF1234gh...
OWNER_ID = 1111111111
SUPPORT_LINK = https://t.me/your_support
UPDATE_LINK = https://t.me/your_update_channel
OWNER_LINK = https://t.me/your_username
SOURCE_LINK = https://github.com/your-username/ROSE-Music-Bot
WELCOME_IMAGE_URL = https://i.imgur.com/abc.jpg
THUMBNAIL_URL = https://i.imgur.com/xyz.jpg
