# === Telegram Credentials (FILL THESE) ===
API_ID = YOUR_API_ID
API_HASH = YOUR_API_HASH
BOT_TOKEN = YOUR_BOT_TOKEN
SESSION_STRING = YOUR_SESSION_STRING

# === Owner & Logger ===
OWNER_ID = 8156898285
LOGGER_ID = -1004489818764

# === Links (Your Personal) ===
SUPPORT_LINK = https://t.me/roseXsupport
UPDATE_LINK = https://t.me/RoseXupdate
OWNER_LINK = https://t.me/MalikX_owner
SOURCE_LINK = https://t.me/MalikX_owner

# === Images (Your Custom) ===
WELCOME_IMAGE_URL = https://files.catbox.moe/9q73nt.jpg
THUMBNAIL_URL = https://files.catbox.moe/1rj2q2.jpg

# === YouTube API Key (Your Given) ===
YOUTUBE_API_KEY = AIzaSyBza3ew7sdakHkF3irNQwRotoXi_6q84ug
